﻿@model IEnumerable<UI.Ecommerce_SW.ViewModels.CarrinhoViewModel>

@{
    ViewBag.Title = "Carrinho";
}

<h2>Carrinho</h2>

<table class="table">
    <tr>
        <th>
            Item
        </th>
        <th>
            Quantidade
        </th>
        <th>
            Preço
        </th>
        <th>
            Promoção
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promocao)
            </td>
        </tr>

    }
    <tr>
        <td> Total</td>
        <td></td>
        <td colspan="2">R$ @Model.Sum(p => p.Preco) </td>
    </tr>

</table>