﻿@model IEnumerable<UI.Ecommerce_SW.Models.ProdutoModel>

@{
    ViewBag.Title = "Produtos Cadastrados";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Incluir Novo Produto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            Promoção
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promocao.Nome)
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdProduto }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdProduto }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.IdProduto })
            </td>
        </tr>
    }

</table>
