﻿@model IEnumerable<UI.Ecommerce_SW.Models.PromocaoModel>

@{
    ViewBag.Title = "Promoções";
}

<h2>Promoções</h2>

<p>
    @Html.ActionLink("Nova Promoção", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>


            <td>
                @Html.ActionLink("Excluir", "Delete", new { id = item.IdPromocao })
            </td>
        </tr>
    }

</table>
