﻿@model IEnumerable<UI.Ecommerce_SW.Models.ProdutoModel>

@{
    ViewBag.Title = "Vitrine";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            Quantidade
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Hidden("idProduto", item.IdProduto, new { id = "idProduto"})
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <input type="number" id="Quantidade_@item.IdProduto" />
            </td>
            <td>
                <a href="#" class="btn btn-primary btn-add" data-idProduto="@item.IdProduto">Adicionar ao Carrinho</a>
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btn-add").click(function(event){
            event.preventDefault();
            var IdProduto = $(this).attr("data-idProduto");

            debugger;
            $.ajax({
                type: "GET",
                url: "@Url.Action("AdicionarAoCarrinho", "Produto")" + "?id=" + IdProduto + "&quantidade=" + $("#Quantidade_" + IdProduto ).val(),
                success: function () {

                    alert("Produto Adicionado ao carrinho com sucesso!!")

                }
            })
        });
    })
</script>
